{
    padding: 0 auto;
    margin: 0 auto;
}


#contenedor{
    width: 900px;
    height: 1000px;
    background-color:rgb(230,200,149);
    color: white;
    max-width: 0 auto;
}


.encabezado{
    text-align: center;
    height: 15%;
    background-color: rgb(230,200,149);
    margin: 1em auto;
}

#menu{
    height: 5%;
    margin: 1em;
    background-color: rgb(171,161,134);
}

#seccion{
    height: 76%;
    width: 60%;
    background-color:rgb(151,158,54);
    margin: 0.5em;
    float: left;
}


#aseccion{
    height: 76%;
    width: 35%;
    background-color: rgb(190,193,79);
    margin: 0.5em;
    margin-left: 1%;
    float: right;
}

.pie{
    width: 68%;
    text-align: center;
    background-color: rgb(230,200,149);
    color: antiquewhite;
}

#enlaces{
    text-align: center;
    color: blue;
    height: 5%;
}

/* selector de class */
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.encabezado_articulo{
    text-align:justify;
    color: white;
    margin: top 1em;
    margin-left: 2.5%;
}

.imagenes{
    display: block;
    border: 1px solid #ddd; /*color en hexadecimal*/
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 150px;

}

.barraNavegacion{
    text-align: justify;
}

/*selector tipo etiqueta*/

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

picture{
    width: 100px;
    margin-top: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}